@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <!--display the cart-->
    <html>
    <head>
            <meta name="viewport" content="width=device-width" />
            <title>Your Cart</title>
    </head>
    <body>

            <h3>Cart Page</h3>
            <table cellpadding="2" cellspacing="2" border="1">
                <tr>
                 
                    <th>Product Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Product Picture</th>
                   
                </tr>
               
                @foreach (var item in ViewBag.rentcart)
                {
                    <tr>
                    <td>
                    <form method="post" asp-action="Remove" asp-controller="Rent" asp-route-ProductId="@item.ProductId">
                    <input type="submit" value="Remove from cart">
                    </form>
                    </td>
                    

                        
                        <td>@item.ProductPrice</td> 
                        <td>@item.Quantity</td>
                       <td>@item.TotalPrice</td>
                       <td>
                       <img src="@Url.Content(@item.BikesPartsImage)" width="200" height="200" alt="Image"/>
                       </td>
                    </tr>
                   
                }
              

                
            </table>
            <br>
            <p><h3 align="right">Total is @ViewBag.total</h3></p>
          

    </body>
    </html>
}
<button><a asp-action="Index" asp-controller="Rent">Keep Shopping</a>
</button>
<button><a asp-action="Checkout" asp-controller="Rent">Checkout</a>
</button>

