
@model IEnumerable<BPMS_2.Models.ProductsModel>

@{
    ViewData["Title"] = "Products";
}
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSize)
            </td>
        <form method="post" asp-controller="Cart" asp-action="AddOrder" asp-route-productId="@item.ProductId">
            <label for="quantity">Quantity:</label>
            <input name="quantity" type="int" value="1">
            <input type="submit" value="Add to cart">
        </form>
            
        </tr>
}
    </tbody>
</table>

        
    
