@model ScaffoldingCheckApp.Models.BikesInventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BikesInventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BikeNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
