@model IEnumerable<ScaffoldingCheckApp.Models.BikesInventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BikeNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BikeNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BikeNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
